
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 32px;
}

ul {
    list-style: none;
}

.nav__figure {
    width: 30%;
}

.nav__img {
    width: 100%;
}

.nav__list {
    display: flex;
    flex-direction: row;
}

.nav__li {
    margin-left: 16px;
}

.nav__button {
    padding: 16px;
}